<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/android_sdk_diff?serverTimezone=UTC&amp;useUnicode=true;" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>
      <mappers>
		<mapper resource="sqlmap/AndroidSDKJavaFileMapper.xml"/>
		<mapper resource="sqlmap/AndroidRepoCommitMapper.xml"/>
		<mapper resource="sqlmap/AndroidPlatformFrameworkProjectMapper.xml"/>
		<mapper resource="sqlmap/AndroidTagMapper.xml"/>
		<mapper resource="sqlmap/AndroidBranchMapper.xml"/>
		<mapper resource="sqlmap/AndroidCacheCommitMapper.xml"/>
		<mapper resource="sqlmap/AndroidSDKJavaFileTagSnapshotMapper.xml"/>
     </mappers>
    
</configuration>